
/* seteo general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


/* fondo gris */

.bg-gris{

    background-color: #e5e5e5;
}

/* agrandar el size del carrito */

.dropdown-menu{
    width: 400px !important;


}


/*seteo de mensaje de confirmación de compra*/ 
#confirmacion
    {
        background-color:rgba(172, 172, 172, 0.397);
        display: none;
        width: 100%;
        height: 50px;
        text-align: center;
    }

/*agrandar icono carrito x en página pedidos*/
.ico-grande{
    font-size: 25px;

}